<%- include('../partials/blogHeader'); -%>
<div class="container">
	<div class="row justify-content-center topPadding">
		<div class="col-md-12">
			<div class="card card-background">
				<h1 class="card-header border-0 cucumber-gradient text-center profilePad">
					<%= user.username %>'s Profile
				</h1>
				<div class="card-body text-center profileImg">
					<img class="imgShadow" src="<%= user.avatar %>" alt="user profile image">
					<h2>
						<%= user.firstName + " " + user.lastName %>
					</h2>
					<h5>
						<i class="fas fa-map-marker-alt"></i> <em><%= user.city %></em>
					</h5>
					<h5><i class="far fa-envelope"></i>
						<a href="mailto:<%= user.email %>">
							<%= user.email %>
						</a>
					</h5>
					<h5>Posts created:</h5>
					<ul class="postList">
						<% posts.reverse().forEach(function(post){ %>
							<li>
								<a href="/posts/<%= post.id %>">
									<h5>
									<i class="fas fa-feather-alt"></i> <%= post.name %>	
									</h5>
								</a>
							</li>
							<% }); %>
					</ul>
					<a class="btn border-0 backButton" href="/posts">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../partials/blogFooter'); -%>